# CODEOWNERS

# This file is used to automatically assign code reviewers to pull requests.

# These owners will be the default owners for everything in the repo. Unless a later
# match takes precedence, they will be requested for review when someone opens a pull
# request.
*       @shabani1
