# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# Lexy settings
# SECRET_KEY=changethis  # change this! you can generate a new one with `openssl rand -hex 32`
# FIRST_SUPERUSER_EMAIL=lexy@lexy.ai  # change this!
# FIRST_SUPERUSER_PASSWORD=lexy  # change this!
# S3_BUCKET=your_s3_bucket_name
# PIPELINE_DIR=./pipelines  # relative to the project root - the '.' is required

# Other secrets
# OPENAI_API_KEY=your_secret_key
# GITHUB_TOKEN=your_github_personal_access_token
