/*
  defining `code-output` here and using it to remove background of code output cells

  in order to apply this to a cell, use the following syntax:
  ```{ .text .no-copy .result #code-output }
  My output code here
  ```
*/
.md-typeset div#code-output > pre > code {
  background-color: var(--md-primary-bg-color);
}

/* same thing as above but for dark mode */
[data-md-color-scheme="slate"] .md-typeset div#code-output > pre > code {
  background-color: var(--md-default-bg-color);
}

/*
  defining `code-output-textwrap` here and using it to wrap text in code output cells

  in order to apply this to a cell, use the following syntax:
  ```{ .text .no-copy .result #code-output-textwrap }
  My output code here
  ```
 */
.md-typeset div#code-output-textwrap > pre > code {
  background-color: var(--md-primary-bg-color);
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* same thing as above but for dark mode */
[data-md-color-scheme="slate"] .md-typeset div#code-output-textwrap > pre > code {
  background-color: var(--md-default-bg-color);
  white-space: pre-wrap;
  word-wrap: break-word;
}
